body {
  background-color: rgb(209, 209, 209);
}

h1 {
  margin-bottom: 5px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
  
  .container {
    margin: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .mini-project {
    box-shadow: 10px 10px 10px gray;
    border-radius: 14px;
  }
  
  .mini-project img {
    width: 180px;
    height: auto;
    border-radius: 10px;
  }
}
.main-container {
  width: 100%;
  margin: 100px auto;
}

.container {
  margin: 0px auto;
  max-width: 61.9%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;

}

.mini-project {
  display: flex;
  justify-content: center;
  max-width: 280px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 14px;
}

.mini-project img {
  width: 150px;
  height: 180px;
  border-radius: 10px;
}

.sub-container:hover {
  scale: 1.2;
}
