body {
  background-color: rgb(209, 209, 209);
}

h1 {
  margin-bottom: 5px;
  text-align: center;
}
.main-container {
  width: 100%;
  margin: 100px auto;
}

.container {
  margin: 0px auto;
  max-width: 61.9%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;

}

.mini-project {
  display: flex;
  justify-content: center;
  max-width: 280px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 14px;
}

.mini-project img {
  width: 280px;
  height: 300px;
  border-radius: 10px;
}

.sub-container:hover {
  scale: 1.2;
}