*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: rgb(21, 21, 21);
}
.container {
  padding-top: 10px;
  margin: 100px auto 0px;
  background-color: #43a1a8;
  max-width: 370px;
  border-radius: 10px; 
}
.go-back {
  padding: 10px 0px 0px 10px;
  text-decoration: none;
  color: white;
  font-size: large;
}

.main-container {
  padding: 20px 35px;
  background-color: #43a1a8;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar {
  padding: 10px 0px;
  text-align: center;
  border-radius: 23px;
  border: 1px solid transparent;
  transition: all 0.78s;
  width: 100%;
}

.search-bar:focus {
  scale: 1.1;
  outline: none;
  text-align: center;
  text-indent: 0px;
}
.search-bar:focus::placeholder {
  color: transparent;
}


.search-icon {
  position: absolute;
  right: 4px;
  pointer-events: none;
  color: rgb(153, 153, 153);
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info div {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.weather-icon {
  width: 140px;
}

.weather-info h1,h2 {  
  font-size: 30px;
}

.weather-condition-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
  align-items: center;
  gap: 60px;
  justify-content: space-around;
  text-align: center;

}

.weather-condition {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather-condition img {
  width: 35px;
  margin: 5px 0px;
}

.humidity, .wind {
  font-size: 20px;
  margin-top: -6px;
}

.msg {
  margin-top: 15px;
  font-size: 20px;
}